section {
    max-width: 1100px;
    margin: 0 auto;
    column-count: 3;
    }

.card {
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
}

.imgcard{
    max-width: 250px;
    transition: 1s ease;
    }
    
    .imgcard:hover {
        opacity: 0.5;
    }

h3{
    display: block;
    text-align: center;
    size: 10px;
}

@media (max-width:768px) {
    section {
        column-count: 1;
    }
}
 